.for-stock{
    padding: 0!important;
}
.p-card-content{
    padding-top: 1px!important;
    padding-bottom: 1px!important;
}
.stock-table{
    padding-top: 1px!important;
}

#stock-table{
    padding-top: 14px!important;
}
#stock-table .p-card-content{
    padding-top: 1px!important;
}

#stock-table .p-card-body{
    padding-top: 1px!important;
}
#stock-table > p-card > div > div.p-card-body{
    padding-top: 1px!important;
}