<div class="row">

    <div class="col-md-12">
        <p-table #dt1 [value]="dataAll" [paginator]="true" [rows]="20"  
            [tableStyle]="{ 'min-width': '50rem' }" selectionMode="single" [(selection)]="selectedRow"
            (onRowSelect)="openDialog($event['data']['id'])" >
            <ng-template pTemplate="caption">
                <div class="d-flex justify-content-between">
                    <div class="p2">
                        <button status="primary" nbButton outline (click)="createNew()"> New </button>
                    </div>
                    <div>
                        <h3 class="table-titles">{{routerPath|titlecase}}</h3>
                    </div>
                    <div class="p2">
                        <nb-form-field>
                            <input type='text' #goblarSearchId nbInput (keyup)="searchGlobal(goblarSearchId.value)" placeholder="Search (min 3)" >
                            <button nbSuffix nbButton ghost (click)="searchGlobal(goblarSearchId.value)">
                                <nb-icon icon="search" pack="eva" aria-label="Search">
                                </nb-icon>
                            </button>
                        </nb-form-field>
                    </div>
                </div>
                
                
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:15%">IDN</th>
                    <th style="width:30%">Name</th>
                    <th style="width:20%">Phone</th>
                    <th style="width:20%">Email</th>
                    <th style="width:15%">Plate</th>                     
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
                <tr [pSelectableRow]="data">
                    <td>{{ data.identification_number }}</td>
                    <td>{{ data.fullName }}</td>
                    <td>{{ data.phone }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.plate }}</td>
                    
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>